<!-- <h1>{{veiwname}}and my age is {{veiwnumber}}</h1>
<h1>{{  chanagename()   }} {{  getname()  }} to my page </h1>
<h2>{{  getname()  }}</h2>
<img [src]="img" alt="not found">
<form method="get" action="">
    <label>frist name</label><br>
    <input type="text" [value]="getname()"><br>
    <label>last name</label><br>
    <input type="text" [value]="veiwname"><br>

    <input type="button" value="save" (click)="onclick($event)">  -->
    <!-- <input type="button" value="submit" (click)="oncreatserver()"> -->
<!-- </form>
<h1>{{'server'}} with ID {{serverid}} is {{serverstatus}}</h1>
<h1>{{getserverstatus()}}</h1> -->
<div>menu</div>